html{
  background-image: url(https://images.pexels.com/photos/30773/pexels-photo-30773.jpg?h=350&auto=compress&cs=tinysrgb);
  background-repeat: no-repeat;
  
  
   background-size: contain;
   background-attachment: fixed;
}


nav#nav1{ margin-top: 24px; }
nav#nav1 > a{ background:#B9E1FF; color:#000; padding:10px; text-decoration:none; border-radius:5px; font-family:"Arial Black", Gadget, sans-serif; }
nav#nav1 > a:hover{ background: #BBEA00; }
nav#nav1 > a:active{ background: #EEFFA8; }


#footer {color: #000}
#footer a:link{ color: #000; }
#footer a:hover{ background: #BBEA00; }
#footer a:visited{ color: #000; }
#footer a:active{ background: #EEFFA8; }